<?xml version="1.0"?>
<launch>
  <arg name="gazebo" default="true"/>
  <arg name="arm_id" default="panda"/>
  <arg name="ee"     default="vacuum"  doc="Which EE setup should be used? Choose between: gripper, gripper_camera, vacuum, none" />

  <param name="robot_description"
         command="xacro $(find albert_description)/urdf/albert.urdf.xacro
                  gazebo:=$(arg gazebo)
                  ee:=$(arg ee)
                  arm_id:=$(arg arm_id)"
                  >
  </param>

</launch>
