<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot_ip" default="172.16.0.2"/>
    <arg name="franka_control_node_file" default="$(find franka_control)/config/franka_control_node.yaml" />
    <arg name="panda_control_mode" default="position" />
    <arg name="ee" default="vacuum"/>

    <include file="$(find franka_gripper)/launch/franka_gripper.launch" if="$(eval ee == 'gripper')">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>
    <include file="$(find franka_vacuum_gripper)/launch/franka_vacuum_gripper.launch" if="$(eval ee == 'vacuum')">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

    <node name="franka_control" pkg="franka_control" type="franka_control_node" output="screen" required="true">
        <rosparam command="load" file="$(find franka_control)/config/franka_control_node.yaml" />
        <param name="robot_ip" value="$(arg robot_ip)" />
    </node>
    <node name="joint_state_desired_publisher" type="joint_state_publisher" pkg="joint_state_publisher" output="screen">
        <rosparam param="source_list">[franka_state_controller/joint_states_desired, franka_gripper/joint_states] </rosparam>
        <rosparam param="source_list">[franka_state_controller/joint_states_desired] </rosparam>
        <param name="rate" value="30"/>
        <remap from="/joint_states" to="/joint_states_desired" />
    </node>

    <include file="$(find albert_control)/launch/panda_control.launch">
        <arg name="panda_control_mode" value="$(arg panda_control_mode)" />
    </include>

</launch>
