<?xml version="1.0"?>
<launch>
  <arg name="simulation" value="true" />
  <arg name="config" value="AH_store_tags" />
  <arg name="camera_name" value="realsense_435" />
  <arg name="image_topic" value="color/image_raw" />
  <arg name="node_namespace" default="apriltag_detection" />

  <!-- Set parameters -->
  <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find retail_store_skills)/config/$(arg config).yaml" ns="$(arg node_namespace)" />
  
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />

    <param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
  </node>
</launch>
