<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="holder">

  <xacro:macro name="camera_holder" params="connected_to:='' rpy:='0 0 0' xyz:='0 0 0'">

    <xacro:unless value="${connected_to == ''}">
      <joint name="camera_holder_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="camera_holder"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless>

    <material name="white">
    <color rgba="1 1 1 1"/>
    </material>

    <!-- camera holder link -->
    <link name="camera_holder">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
            <geometry>
                <mesh filename="package://albert_description/meshes/camera_holder.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
            <geometry>
                <mesh filename="package://albert_description/meshes/camera_holder.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>


</xacro:macro>
</robot>
