<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="use_nominal_extrinsics" default="true"/>
  <!-- if the gazebo model should be loaded-->
  <xacro:arg name="gazebo" default="true"/>

  <xacro:include filename="$(find albert_description)/urdf/_d455.urdf.xacro" />

  <!-- define the params for the macro sensor_d455-->
  <xacro:sensor_d455 gazebo="$(arg gazebo)" topics_ns="realsense_455" parent="camera_holder" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
      <!-- pose of the camera wrt the camera_holder -->
      <origin xyz="-0.0547 0 -0.0338" rpy="0 -${pi/2} 0"/>
  </xacro:sensor_d455>

</robot>
